@import url("./theme.css");
@import url("./fonts.css");
@import url("./editor.css");

body {
    font-family: 'Roboto';
    color: var(--primary-front-color);
    background-color: var(--back-color);
    margin: 0;
    padding: 0;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.main-grid {
    padding: 5px;
    display: grid;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    
    grid-template-columns: 2fr 6fr 0;
    grid-template-rows: 1fr;
    column-gap: 5px;
    row-gap: 5px;

    background: var(--back-color)
}

.main-grid > * {
    position: relative;
}

/* list panel */
list-panel {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

list-panel header {
    width: 100%;
    background: var(--secondary-back-color);
    height: 1em;
    color: var(--primary-front-color);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    align-content: center;
    padding: 0.5em;
    font-weight: bold;
}

list-panel > ul {
    list-style: none;
    margin: 0.5em;
    padding: 0;
    
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
    position: inherit;
}

list-panel > ul > li {
    line-height: 1.5em;
    padding-left: 0.5em;
    width: 100%;
}

list-panel > ul > li[selected],
list-panel > ul > li[selected]:hover {
    color: var(--ui-selected-front-color);
    background: var( --ui-selected-back-color);
    font-weight: bold;
}

list-panel > ul > li:hover {
    background: var(--primary-hover-back-color);
    color: var(--primary-hover-front-color);
    cursor: pointer;
}

/* panel */
editor-panel {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

editor-panel header {
    width: 100%;
    background: var(--secondary-back-color);
    height: 1em;
    color: var(--primary-front-color);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    align-content: center;
    padding: 0.5em;
    font-weight: bold;
}

editor-panel > div {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
    position: inherit;
}