.CodeMirror {
    height: auto;
    background: var(--back-color);
    color: var(--primary-front-color);
    font-family: inherit;
    line-height: 1.6em;
    width: 80%;
    margin: 2em auto;
}

.CodeMirror-line::selection, 
.CodeMirror-line > span::selection, 
.CodeMirror-line > span > span::selection,
span.CodeMirror-selectedtext {
    background: var(--selection-color);
}

/* Headers */
.CodeMirror .cm-header,
.CodeMirror .cm-header-2 {
    color: var(--emphasis-front-color);
}

.CodeMirror .cm-header-1 {
    font-size: 1.5em;
}
.CodeMirror .cm-header-2 {
    font-size: 1.25em;
}

.CodeMirror .cm-formatting-header {
    font-size: inherit;
    opacity: 0.5;
}

/* Strong and emphasis */
.CodeMirror .cm-strong,
.CodeMirror .cm-em {
    color: var(--emphasis-front-color);
}

.CodeMirror .cm-formatting-strong,
.CodeMirror .cm-formatting-em {
    opacity: 0.5;
}

.CodeMirror .cm-def,
.CodeMirror .cm-atom,
.CodeMirror .cm-meta {
    font-family: 'Courier New', Courier, monospace;
    color: var(--emphasis-front-color)
}

.CodeMirror .cm-meta + * {
    font-family: 'Courier New', Courier, monospace;
}

.CodeMirror .cm-string,
.CodeMirror .cm-keyword,
.CodeMirror .cm-number {
    font-family: 'Courier New', Courier, monospace;
    color: inherit;
}