:root {
    --back-color: rgb(30,32,34);
    --secondary-back-color: rgb(60,100,70);
    --primary-front-color: rgb(206,219,218);
    --emphasis-front-color: rgb(129,201,246);
    --selection-color: rgb(56,63,72);
    --primary-hover-back-color: rgb(41,44,49);
    --primary-hover-front-color: #eee;

    --ui-selected-front-color: rgb(129,246,201);
    --ui-selected-back-color: rgb(64,123,100);
	--ui-borders: rgb(128,128,128);
	}

html, body {
	position: relative;
	width: 100%;
	height: 100%;
}

body {
	background-color: var(--back-color);
	color: var(--primary-front-color);
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

a {
	color: rgb(0,100,200);
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

a:visited {
	color: rgb(0,80,160);
}

label {
	display: block;
}

input, button, select, textarea {
	font-family: inherit;
	font-size: inherit;
	-webkit-padding: 0.4em 0;
	padding: 0.4em;
	margin: 0 0 0.5em 0;
	box-sizing: border-box;
	border: 1px solid #ccc;
	border-radius: 2px;
}

input:disabled {
	color: #ccc;
}

button {
	color: #333;
	background-color: #f4f4f4;
	outline: none;
}

button:disabled {
	color: #999;
}

button:not(:disabled):active {
	background-color: #ddd;
}

button:focus {
	border-color: #666;
}
